In [ ]:
import pandas as pd

In [ ]:
reviews = pd.read_csv("../datasets/winemag-data-130k-v2.csv", index_col=0)

In [ ]:
pd.set_option("display.max_rows", 5)

In [ ]:
reviews.groupby(['country']).price.agg([len, min, max])

<ipython-input-4-ceff87897738>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['country']).price.agg([len, min, max])
<ipython-input-4-ceff87897738>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  1907   4.0  230.0
Armenia       1  14.0   14.0
...         ...   ...    ...
Ukraine       5   6.0   10.0
Uruguay      61  10.0  120.0

[41 rows x 3 columns]